<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>About us</title>

		<link rel="stylesheet" href="../Styles/about_style.css">

	</head>

	<body>
        <header>

			<a href="http://localhost:8081/home">Home</a>
			|
			<a href="http://localhost:8081/profile" >Profile</a>
			|
			<a href="http://localhost:8081/about"class="activelink">About</a>
			|
			<div>
				Sites
				<ul>
					<li><a href="http://localhost:8081/bamboo_forest">Bamboo Forest</a></li>
					<li><a href="http://localhost:8081/alligator_swamp">Alligator Swamp</a></li>
					<li><a href="http://localhost:8081/penguin_peak">Penguin Peak</a></li>
				</ul>
			</div>
	
		</header>

		<section id="section1">
			<h1>About Us</h1>
		</section>

		<section id="section2">
			<div class="change">
				<img class="animal" src="../images/About/deer_image.jpg">
				<div class="description">
					<p>Make A Change</p>
					<img class="cross" src="../images/About/cross.png">
					<img class="cross" src="../images/About/cross.png">
					<img class="cross" src="../images/About/cross.png">
				</div>
			</div>


			<div class="change">
				<img class="animal" src="../images/About/elephant_image.jpg">
				<div class="description">
					<p>Support Wildlife</p>
					<img class="cross" src="../images/About/cross.png">
					<img class="cross" src="../images/About/cross.png">
					<img class="cross" src="../images/About/cross.png">
				</div>
			</div>

		</section>

		<div class="line"></div>

		<section id="section3">
			<div id="mission">
				<h1>Our mission</h1>
				<ul>
					<li>Innovate: Together we pioneer new ideas and approaches to ensure the long-term health and survival of wildlife. </li>
					<li>Inspire: We share our passion for nature to increase understanding, empathy, advocacy, and action for wildlife.</li>
					<li>Thrive: When we collaborate, innovate, and inspire. We help people and wildlife thrive together for a healthy planet. </li>
				</ul>
			</div>

			<img src="../Images/About/Giraffe_image.png">

		</section>

		<div class="line"></div>

		<section id="section4">
			<h1>Animals</h1>
			<div id="images">
				<img src="../Images/About/Animal1_image.jpg">
				<img src="../Images/About/Animal2_image.jpg">
				<img src="../Images/About/Animal3_image.jpg">
				<img src="../Images/About/Animal4_image.png">
				<img src="../Images/About/Animal5_image.jpg">
				<img src="../Images/About/Animal6_image.png">
				<img src="../Images/About/Animal7_image.jpg">
			</div>
		</section>
	</body>

	
    <footer>
        <h1>Thank for visiting Cyber Wildlife!</h1>
        <div id="social">
            <img src="../Images/Twiiter_image.png">
            <img src="../Images/Instagram_image.png">
            <img src="../Images/Facebook_image.png">
        </div>
    </footer>

</html>