<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alligator Swamp</title>

        <script src="/scripts/script.js"></script>
        <link rel="stylesheet" href="/styles/animals_style.css">

    </head>

    <body>

        <header>

            <a href="http://localhost:8081/home">Home</a>
            |
            <a href="http://localhost:8081/profile">Profile</a>
            |
            <a href="http://localhost:8081/about">About</a>
            |
            <div class="activelink">
                Sites
                <ul>
                    <li><a href="http://localhost:8081/bamboo_forest">Bamboo Forest</a></li>
                    <li><a href="http://localhost:8081/alligator_swamp">Alligator Swamp</a></li>
                    <li><a href="http://localhost:8081/penguin_peak">Penguin Peak</a></li>
                </ul>
            </div>
    
        </header>

        <section id="section1">
            <h1>Alligator Swamp: Eerie Wetlands</h1>
            <div id="container">
                <img src="../Images/Alligator Swamp/Banner_image.jpg">
                <div id="pandas">
                    <h2>ALLIGATORS</h2>
                    <a href="#section4">Go to Live Footage of the Alligator Swamp</a>
                </div>
            </div>
        </section>

        <section id="section2">
            <h3>Types of Alligators</h3>
            <div id="flexdiv">
                <div>
                    <h4>American Alligator</h4>
                    <p>The American alligator is a large crocodilian reptile native to the Southeastern United States. Adult male American alligators measure 3.4 to 4.6 m (11.2 to 15.1 ft) in length, and can weigh up to 453 kg (999 lb). American alligators are apex predators and consume fish, amphibians, reptiles, birds, and mammals. They play an important role as ecosystem engineers in wetland ecosystems through the creation of alligator holes, which provide both wet and dry habitats for other organisms. </p>
                    <img src="../Images/Alligator Swamp/AmericanAll_image.png">
                </div>

                <div>
                    <h4>Chinese Alligator</h4>
                    <p>The Chinese alligator, historically known as the muddy dragon, is a crocodilian endemic to China. Dark gray or black in color with a fully armored body, the Chinese alligator grows to 1.5–2.1 metres (5–7 ft) in length and weighs 36–45 kilograms (80–100 lb) as an adult. It brumates in burrows in winter and is nocturnal in summer. Mating occurs in early summer, with females most commonly producing 20–30 eggs, which are smaller than those of any other crocodilian.</p>
                    <img src="../Images/Alligator Swamp/ChineseAll_image.png">
                </div>

            </div>

        </section>

        <div class="line"></div>

        <section id="section3">
            <h2>Experiences</h2>
    
            <div id="cards">
                <% experiences.forEach(element => { %>
                    <div id="card">
                        <h2> <%= element.title %></h2>
                        <p id="desc"> <%= element.description %></p>
                        <img src="<%=element.photo%>">
                    </div>
                <% }); %>
    
                <div id="addnew">
                    <button id="plus" onclick="showForm()">+</button>
    
                    <div id="form">
                        <form action="http://localhost:8081/processForm" method="post" enctype="multipart/form-data" id="expform">
                    
                            <input type="hidden" value="bamboo_forest" name="original">
    
                            <div class="inp">
                                <label for="title">Title: </label>
                                <input type="text" name="title" required>
                            </div>
    
                            <div class="inp">
                                <label for="desc">Description: </label>
                                <textarea name="desc" required></textarea>
                            </div>
    
                            <div class="inp">
                                <label for="photo">Photo: 
                                <input type="file" id="photo" name="user_image" required>
                                </label>
                            </div>
                    
                            <button type="submit" id="submit" name="submit">submit</button>
                        </form>
                    </div>
                </div>  
    
            </div>
    
            <div class="line"></div>
    
            <div id="apidiv">
                <h2>Find out recent information about your favorite animal!</h2>
                <div id="getinfodiv">
                    
                    <div id="getinfo">
                        <label>Type species name (e.g. Giant panda):</label>
                        <input type="text" id="species">
                        <button onclick="getAPI()">Get Information</button>
                    </div>
                    <div class="vertline"></div>
                    <div id="info">
                        <p>The <span class="name"></span> is classified as <span id="status"></span>.</p>
                        <p>The <span class="name"></span> also known as <span id="scien"></span> belongs to the family <span id="tax"></span> and is found in <span id="loc"></span></p>
                    </div>
                </div>
            </div>
        </section>
    

        <section id="section4">
            <iframe src="https://www.youtube.com/embed/EnxRJii_dp8?autoplay=1&mute=1">
            </iframe>

        </section>


        <!-- <video controls>
        <source src="../Images/Bamboo Forest/Panda_video.mp4"> 
    </video> -->


        <footer>
            <h1>Thank for visiting Cyber Wildlife!</h1>
            <div id="social">
                <img src="../Images/Twiiter_image.png">
                <img src="../Images/Instagram_image.png">
                <img src="../Images/Facebook_image.png">
            </div>
        </footer>

    </body>

</html>