<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>

        <script src="/scripts/script.js"></script>
        <link rel="stylesheet" href="/styles/home_style.css">

    </head>

    <body>
        <header>

            <a href="http://localhost:8081/home" class="activelink">Home</a>
            |
            <a href="http://localhost:8081/profile">Profile</a>
            |
            <a href="http://localhost:8081/about">About</a>
            |
            <div>
                Sites
                <ul>
                    <li><a href="http://localhost:8081/bamboo_forest">Bamboo Forest</a></li>
                    <li><a href="http://localhost:8081/alligator_swamp">Alligator Swamp</a></li>
                    <li><a href="http://localhost:8081/penguin_peak">Penguin Peak</a></li>
                </ul>
            </div>

        </header>


        <main>


            <section id="section1">
                <h1>Cyber Wildlife</h1>
            </section>

            <div class="line"></div>

            <section id="section2">

                <div>

                    <h1 id="welcome">Welcome to Cyber Wildlife</h1>
                    <p id="welcomepar">A World Where All Life Thrives </br> </br>
                        Cyber Wildlife aims to strengthen the connection between people and nature, more specifically, wildlife by introducing an environmental-friendly platform to learn more about these fascinating creastures' lifestyles, habitats and mannerisms.</p>
                    <div id="badgediv">
                        <img class="badge" src="../Images/Eco_image.jpg">
                        <img class="badge" src="../Images/Cruelty_image.jpg">
                    </div>

                </div>

                <img id="panda" src="../Images/Panda_image.jpg">

            </section>

            <div class="line"></div>

            <section id="section3">
                <h1>Sites</h1>
                <div>
                    <div id="forest" class="sitediv">
                    </div>

                    <div class="griddiv">
                        <h2>Bamboo Forest</h2>
                        <a href="../HTML pages/bamboo_forest.html"><input type="button" value="Go to"></a>
                    </div>
                </div>

                <div>
                    <div id="swamp" class="sitediv">
                    </div>

                    <div class="griddiv griddivright">
                        <h2>Alligator Swamp</h2>
                        <a href="../HTML pages/alligator_swamp.html"><input type="button" value="Go to"></a>
                    </div>
                </div>

                <div>
                    <div id="peak" class="sitediv">
                    </div>

                    <div class="griddiv">
                        <h2>Penguin Peak</h2>
                        <a href="../HTML pages/penguin_peak.html"><input type="button" value="Go to"></a>
                    </div>
                </div>

            </section>

        </main>

        <footer>
            <h1>Thank for visiting Cyber Wildlife!</h1>
            <div id="social">
                <img src="../Images/Twiiter_image.png">
                <img src="../Images/Instagram_image.png">
                <img src="../Images/Facebook_image.png">
            </div>
        </footer>

    </body>

</html>