/* ---------------------------------------------------------- */

/* GENERAL */

/* ---------------------------------------------------------- */

@font-face {
    font-family: rubik;
    src: url(../Fonts/Rubik-VariableFont_wght.ttf);
    src: url(../Fonts/Rubik-Bold.ttf)
}
@font-face {
    font-family: trocchi;
    src: url(../Fonts/Trocchi-Regular.ttf);
}

*{
    padding:unset;
    margin:unset;
    color:var(--color10);
}

:root{
    --color1:#f4f2ef;
    --color2:#132232;
    --color3:#6b7d3f;
    --color4:#937452;
    --color5:#9cb466;
    --color6:#73543f;
    --color7:#4b6071;
    --color8:#40171d;
    --color9:#556144;
    --color10:#30302f;
    --color11:#839aab;
    --color12:#434310;
}

body{
    /* font-family: rubik; */
}

a{
    text-decoration: none;
    cursor: pointer;
}


input[type=button]{
    cursor: pointer;
}


.line{
    width:75%;
    height: 5px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--color1);
}


/* ---------------------------------------------------------- */

/* HEADER */

/* ---------------------------------------------------------- */

header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 30px;

    font-family: trocchi;
    font-size: 1em;
    font-weight: 100;
    color: white;

    background-color: var(--color3);
}

header a{
    color: white;
}

header a:hover{
    color:var(--color8);
}

header .activelink{
    color:var(--color5);
}

header div{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    color: white;

    position: relative;
}

header div:hover {
    visibility: hidden;
}
    
header div:hover ul {
    visibility: visible;
}

header div ul{
    list-style: none; 
    visibility: hidden;
    position: absolute;

    width: 200px;

} 


/* ---------------------------------------------------------- */

/* SECTION 1 */

/* ---------------------------------------------------------- */

#section1 {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;

    background-image: url(../Images/Banner_image.jpg);
    background-size: cover;
    background-position: center;

    height: 600px;

}

#section1 h1{
    background-color: rgba(19,19,18,0.3);
    color: white;

     padding: 90px 30px;
     width: 400px;


    font-family: rubik;
    font-size: 4em;
    font-weight: bolder;
    
}

/* ---------------------------------------------------------- */

/* SECTION 2 */

/* ---------------------------------------------------------- */

#section2{
    display: flex;
    gap:20px;
    margin:auto;
    
    width:75%;
}

#section2 > div{
    display: grid;
    gap:20px;

}

#section2 #welcome{
    font-family: rubik;
    font-size: 3em;
    font-weight: bolder;
}

#section2 #welcomepar{
    font-family: trocchi;
    font-size: 1em;
    word-spacing: 10px;

    color: rgba(19,19,18,0.8);
}

#section2 #badgediv{
    justify-self: center;
}

#section2 .badge{
    width:100px;
    height: auto;

    margin: 10px;

}

#section2 #panda{
    width: 50%; 
    height: 50%;
    align-self: center;

    max-width: 100%;
    max-height: 100%;

}


/* ---------------------------------------------------------- */

/* SECTION 3 */

/* ---------------------------------------------------------- */

#section3 h1{
    text-align: center;
    font-family: rubik;
    font-size: 3em;
    margin-bottom: 20px;
}
#section3 h2{
    color:white;
    font-family: trocchi;
    font-weight: 100;
    font-size: 2em;

    background-color: rgba(19,19,18,0.6);

    padding: 10px;
    width: fit-content;
    height: fit-content;

}

#section3 input[type=button]{
    background-color: var(--color5);
    border: none;
    color: white;
    font-family: rubik;

    padding: 10px;
    width: 100px;
    height: fit-content;
}

#section3 input[type=button]:hover{
    background-color: var(--color3);
}

#section3 .sitediv{
    height: 500px;
    background-size: cover;
    background-position: center;

    display: grid;
    transition: ease 2s;

}

#section3 .sitediv:hover{
    transform: scale(1.1);
}

#section3 > div{
    overflow: hidden;
    height: 500px;
    margin: 0px 30px 30px;
    position: relative;


}



#section3 #forest{
    background-image: url(../Images/Bamboo_image.jpg);

}

#section3 #swamp{
    background-image: url(../Images/Swamp_image.jpg);

}

#section3 #peak{
    background-image: url(../Images/Iceberg_image.jpg);

}

#section3 .griddiv{
    display: grid;
    gap:10px;

    width: fit-content;
    height: fit-content;
    padding: 20px;

    position: absolute;
    top: 0;

}

#section3 .griddivright{
    justify-items: right;

    right: 0;
}



/* ---------------------------------------------------------- */

/* FOOTER */

/* ---------------------------------------------------------- */

footer{

    display: grid;
    gap:5px;
    padding: 10px;
    margin-top: 20px;
    align-items: center;

    font-family: rubik;
    font-size: 0.7em;
    font-weight: 100;
    background-color: var(--color3);

    height: 100px;
    text-align: center;
}

footer h1{
    color: white;
}


footer #social{
    display: flex;
    gap:10px;
    
    margin:auto;
}

footer img{
    width:30px;
}

/* ---------------------------------------------------------- */

/* RESPONSIVENESS */

/* ---------------------------------------------------------- */

@media only screen and (max-width: 600px){

    #section1 h1{
        width:200px;

        font-size: 2em;
    }

    #section2{
        display: grid;
    }

    #section2 #panda {
        display: grid;
        width: 100%;
        height: 100%;
    }

    #section2 #welcome{
        text-align: center;
    }

    #section3 .griddiv{
        justify-items: center;
        left: 0; 
        right: 0;
        bottom: 0;
        margin:auto;
    }


}

@media only screen and (min-width: 600px) and (max-width: 769px){

    #section1 h1{
        width:200px;

        font-size: 3em;
    }

    #section2{
        display: grid;
    }

    #section2 #panda {
        display: grid;
        width: 100%;
        height: 100%;
    }

    #section2 #welcome{
        text-align: center;
    }

    #section2 .badge{
        width: 150px;
    }

    #section3 .griddiv{
        justify-items: center;
        left: 0; 
        right: 0;
        margin:auto;
    }

}

@media only screen and (min-width: 769px) and (max-width: 992px){

    #section2{
        display: grid;
    }

    #section2 #panda {
        display: grid;
        width: 100%;
        height: 100%;
    }

    #section2 .badge{
        width: 150px;
    }

    #section3 .griddiv{
        justify-items: center;
        left: 0; 
        right: 0;
        margin:auto;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1200px){


    #section2 .badge{
        width: 150px;
    }

    header{
        font-size: 1.5em;
        height: 100px;
    }

}

@media only screen and (min-width: 1200px){

    #section1 h1{
        font-size: 5em;
    }

    #section2 .badge{
        width: 150px;
    }

    #section3 h2{
        font-size: 3.5em;
    }

    #section3 input[type=button]{
        font-size: 1.5em;
        width: 200px;
    }

    header{
        font-size: 1.5em;
        height: 100px;
    }


}

